html,
body {
    background: #f6f6f6;
}

/* 头部 */
header {
    width: 100vw;
    padding: 10px 6vw 17px;
    height: 53px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #ffffff;
}

header .search-wrapper {
    width: 78vw;
    float: left;
    height: 26px;
}

header .search-wrapper .logo-box {
    height: 26px;
    line-height: 26px;
    float: left;
}

header .search-wrapper .logo-box img {
    height: 21px;
    width: 11vw;
    padding-top: 5px;
}

header .search-wrapper .logo-box span {
    margin-left: 1vw;
    color: #FFA236;
    font-size: 12px;
    height: 20px;
    padding-top: 4px;
    vertical-align: top;
}

header .search-wrapper .search-box {
    float: right;
    width: 38vw;
    position: relative;
}

header .search-wrapper .search-box input {
    width: 100%;
    height: 24px;
    border-radius: 6px;
    border: solid 1px rgba(151, 151, 151, 0.17);
    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(36, 39, 44, 0.04);
}

header .search-wrapper .search-box span {
    display: block;
    position: absolute;
    top: 0px;
    right: 1.5vw;
    width: 24px;
    height: 24px;
}

header .search-wrapper .search-box span img {
    width: 24px;
    height: 24px;
}


header .menu-box {
    float: right;
    width: 18px;
    padding-top: 2px;
}

/* 轮播图 + 导航 */
#nav-box {
    width: 100vw;
    padding: 0 6vw;
    height: 425px;
    background: #ffffff;
}

.banner-box {
    width: 100%;
    height: 240px;
    padding-top: 60px;
}

.banner-box .swiper-container,
.banner-box .swiper-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.banner-box .swiper-slide {
    width: 100%;
    height: 134px;
    background: url(../img/lazy-bg.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(36, 39, 44, 0.2);
    border-radius: 10px;
}

.banner-box .swiper-slide img {
    height: 100%;
    min-width: 100%;
    vertical-align: top;
}

#nav-box .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 15px;
}

#nav-box .my-bullet,
#nav-box .my-bullet-active {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 4px;
}

#nav-box .my-bullet {
    background: #c4c4c4;
    opacity: .7;
}

#nav-box .my-bullet-active {
    background: #f75d34;
    opacity: 1;
}

#nav-box .nav-list {
    width: 100%;
    height: 176px;
}

.nav-list div.row.no-margin {
    width: 100%;
    height: 88px;
    padding: 19px 0;
    text-align: center;
}

.nav-list .nav-content-box {
    height: 50px;
    padding: 0 8px;
}

.nav-list .nav-content-box .img-box {
    height: 28px;
}

.nav-list .nav-content-box .text-box {
    font-size: 14px;
    color: #514f66;
    margin-top: 2px;
}

/* 编辑推荐 */
#editor-recommend-box {
    width: 100vw;
    min-height: 135px;
    background: url(../img/bg-1.png) no-repeat center center;
    background-size: cover;
    padding: 10px 0 15px;
}

#editor-recommend-box .title-box {
    padding-top: 10px;
    padding-left: 4.8vw;
    text-align: left;
    font-size: 16px;
    color: #4a4a4a;
    height: 30px;
    line-height: 20px;
}

#editor-recommend-box .content-wrapper {
    display: none;
    min-height: 105px;
    width: 100%;
    position: relative;
}

#editor-recommend-box .active {
    display: block;
}

#editor-recommend-box .content-wrapper .content-box {
    width: 100%;
    height: 100%;
}

#editor-recommend-box .top-box {
    height: 37px;
    margin-top: 14px;
    padding-left: 5vw;
}

#editor-recommend-box .top-box .img-box,
#editor-recommend-box .top-box .text-box {
    display: inline-block;
}

#editor-recommend-box .top-box .img-box {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
}

#editor-recommend-box .top-box .img-box img {
    width: 35px;
    height: 35px;
}

#editor-recommend-box .top-box .text-box {
    height: 35px;
    vertical-align: top;
}

#editor-recommend-box .top-box .text-box .score-box {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #4a4a4a;
}

#editor-recommend-box .top-box .text-box .top-text {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #ff6d26;
    margin-bottom: 2px;
}

#editor-recommend-box .bottom-box {
    width: calc(100% - 10vw);
    margin: 10px auto 0;
    padding: 0 5vw;
    background: #fff;
    line-height: 20px;
    font-size: 12px;
    color: #514f66;
    border-radius: 14px;
    box-shadow: 0px 0px 12px rgba(24, 32, 111, 0.1);
    opacity: .7;
    position: relative;
}

#editor-recommend-box .bottom-box .narrow-bg {
    display: block;
    width: 15px;
    height: 11px;
    background: url(../img/top-narrow2.png) no-repeat center center;
    position: absolute;
    top: -9px;
    left: 5.5vw;
}

#editor-recommend-box .content-wrapper .right-narrow {
    width: 7px;
    height: 14px;
    position: absolute;
    top: 14px;
    right: 3vw;
    background: url(../img/右箭头.png) no-repeat center center;
    background-size: cover;
}

/* H5游戏推荐 + 热门游戏 */
.game-module {
    width: 100vw;
    height: 230px;
    background: #ffffff;
    margin-top: 10px;
}

#game-recommend {
    margin-top: -10px;
}

.game-module .top-box {
    height: 40px;
    padding-top: 18px;
}

.game-module .top-box .title-box {
    padding-left: 4.8vw;
    display: inline-block;
    color: #1f1f1f;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
}

.game-module .top-box .title-box div {
    display: inline-block;
}

.game-module .top-box .mark-box {
    width: 42px;
    height: 22px;
    line-height: 22px;
    vertical-align: top;
    background: #ff6d26;
    color: #fff;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 5px;
}

.game-module .top-box .btn-box {
    float: right;
    position: relative;
    padding-right: 8vw;
    font-size: 14px;
    color: #ff6d26;
    height: 22px;
    line-height: 22px;
}

.game-module .top-box .btn-box .narrow-box {
    width: 9px;
    height: 14px;
    position: absolute;
    top: 5px;
    right: 3vw;
    background: url(../img/chevron.png) no-repeat center center;
    background-size: cover;
}

.game-module .bottom-box {
    height: 190px;
    padding: 18px 0 10px;
}

.game-module .bottom-box .swiper-container,
.game-module .bottom-box .search-wrapper {
    height: 100%;
}

.game-module .bottom-box .swiper-slide.row {
    margin: 0;
}

.game-module .bottom-box .swiper-slide.row .col-xs-3 {
    padding: 10px 0;
    text-align: center;
}

.game-module .bottom-box .swiper-slide.row .img-box {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 5px;
    background: url(../img/lazy-small-bg.png) no-repeat center center;
    background-size: cover;
}

.game-module .bottom-box .swiper-slide.row img {
    width: 70px;
    height: 70px;
}

.game-module .bottom-box .text,
.game-module .bottom-box .title2 {
    font-size: 12px;
    line-height: 16px;
    height: 24px;
    color: #1f1f1f;
    padding-top: 8px;
}

.game-module .bottom-box .title2 {
    color: #c4c4c4;
    padding-top: 4px;
}

.game-module .bottom-box .button {
    width: 60px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #ff6d26;
    border: 1px solid #ff6d26;
    border-radius: 16px;
    background: #fff;
    margin: 5px auto;
}