
.eng{
	font-family: "open sans","Arial",sans-serif;
}
.reg{
	font-size: 20px;
    vertical-align: super;
    margin:0 5px;
}
.reg.xs{
	font-size: 12px;
    vertical-align: super;
    margin:0 2px;
}
.wrapper{
    min-height: 100%;
    position: relative;
	background-color:#191b29;
}
/*
 *Hearder
 */
.head-wrap{
	position: fixed;
	top: 0;
    width: 100%;
    z-index: 1000;
    transition:ease all .5s;
    //overflow:hidden;
    /*box-shadow: -3px 0px 6px #999 ;
    background-color: rgba(0,0,0,.5);*/
} 
.head {
    height: 75px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}
.head-wrap.on{
	background-color: #fff ;
	box-shadow: -3px 0px 6px #999 ;
}
.head-brand {
    width: 235px;
    height: 75px;
    float: left;
    background-image: url(../img/Lavector1-1.png);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    background-color: transparent;
}
.head-brand.on{
	background-image: url(../img/Lavector1-2.png);
}
.head-nav {
    height: 100%;
    float: right;
    top: 10px;
}
.head-nav > li .nav-option.on{
	color: #000;
}
.head-nav > li {
    height: 100%;
    display: inline-block;
    line-height: 75px;
    margin-left: -7px;
}
.head-nav > li .nav-option{
	color: #fff;
	transition:ease all .5s;
	font-size: 16px;
	height: 75px;
	padding: 0 25px;
}

.head-nav > li .nav-option:hover{
	color: #ffd533;
	background-color: transparent !important;
}
.head-nav > li .nav-option.active{
	color: #ffd533;
}
.head-nav .login-btn{
	display: inline-block;
	border-radius: 0px 4px 4px 0px;
	padding-left:30px ;
	border-left:2px solid #fff; 
}
.head-nav .login-btn.on{
	border: 1px solid #000;
	background-color: rgba(222,222,222,.0);	
}
.head-wrap.on .login-btn{
	border-left-color: #888; 
}
.head-nav .login-btn .nav-btn{
	color: #fff;
	text-decoration: none;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	position: relative;
	border-radius: 4px;
	transition:ease all .8s;
} 
.login-btn .nav-btn.on-1{
	background-color: #646361 !important;
	color: #fff !important;
}
.login-btn .nav-btn.on-2{
	color: #646361 !important;;
}
.head-nav li:hover .sed-list{
	display: block;
}

.head-nav .sed-list{
	list-style: none;
	position: absolute;
	padding-left: 0;
	transition:ease all .5s;
	width: 100%;
	display: none;
}

.head-nav .sed-list>li{
    font-size: 12px;
    background-color: rgba(180,180,180,.7);
    line-height: 20px;
    padding: 14px 0;
    text-align: center;
}
.sed-list>li>a{
	text-decoration: none;
	color: #fff;
}
.sed-list>li>a:hover{
	color: #ffd533;
}

#slider-2 .title{
	text-align:center;
	padding: 50px 0px;
	position: relative;
}
#slider-2 .title h2{
	color: #ffd533;
	font-weight: normal;
}
#slider-2 .title .row{
	width: 240px;
	display: inline-block;
}
#slider-2 .title .row .col-xs-4{
	border-top:1px solid #fff; 
}
#slider-2 .title .row .col-xs-4:nth-child(2){
	border-top-color: transparent; 
}
#slider-2 .title .icon{
	display: block;
    position: absolute;
    left: 50%;
    margin-left: -37.5px;
    padding: 5px 20px;
    top: -25px;
}


/*
 * nav-xs
 */
.head-wrap-xs{
	opacity: 0;
	height: 0px;
	box-shadow: -3px 0px 6px #999;
    background-color: rgba(56,56,56,.7);
	position: fixed;
    width: 100%;
    top: 0;
    transition: all .4s ease-in-out;
    z-index: 1000;
}
.head-wrap-xs.on{
	background-color: #fff ;
}
.nav-xs{
	width: 100%;
	border-top: 1px solid #999;
	text-align: center;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
	position: absolute;
	background-color: rgba(56,56,56,.7);
	transition: all .4s ease-in-out;
	box-shadow: 0px 3px 6px #999 ;
	height: 0px;
	overflow: hidden;
}
.nav-xs.on{
	background-color:#fff;
}
.nav-xs.on li a{
	color: #ffd533;
}
.logo-xs{
	text-align: center;
	position: relative;
	display: none;
}

.logo-xs img{
	height: 50px;
}
.nav-collapse{
	display: inline-block;
	background-color:#ffd533;
	height: 35px;
	width: 35px;
	margin-top: 5px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	right: 10px; 
	top:2px;
	cursor: pointer;
	background-image: url(../img/collapse.png);
	background-repeat: no-repeat;
	background-size: 70% 70%;
	background-position: center;
}
.nav-collapse img{
	width: 20px;
	height: 20px;
}
.nav-xs li a{
	color: #fff;
	display: block;
	font-size: 16px;
	text-decoration: none;
	padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    transition: all .5s ease-in-out;
}
.nav-xs li a:hover{
	color: #ffd533;
}
.nav-xs .login-btn{
	padding: 7.5px 0;
}
.nav-xs .login-btn .nav-btn{
	color: #fff;
	text-decoration: none;
	padding: 5px 30px;
	display: inline-block;
	font-weight: 600;
	position: relative;
	border-radius: 4px;
	transition:ease all .8s;
} 

.login-btn .nav-btn:nth-child(1){
	color: #fff;
}
.login-btn .nav-btn:nth-child(2){
	margin-left: 20px;
	background-color: #ffd533;
	color: #000;
}
.login-btn .nav-btn:hover{
	background-color: #ffd533;
	border-color: #ffd533;
	color: #fff;
}
h1{
	font-size: .25rem;
}
h2{
	font-size: .21rem;
}
h3{
	font-size: .17rem;
}
/*
 * footer
 */
.foot{
	text-align: center;
	border-top:1px solid #3d4263; 
	color:#4f5473;
	width: 100%;
	line-height: 50px;
	position: absolute;
	bottom: 0px;
}
.foot .ipc a{
	display:inline-block;
	text-decoration:none;
	height:20px;
	line-height:20px;
}
.foot .ipc img{
	display: inline-block;
	vertical-align: top;
}
.foot .ipc p{
	display: inline-block;
	height:20px;
	line-height:20px;
	margin: 0px 0px 0px 5px; 
	color:#939393;
}
@media (max-width: 1200px){
	.container.full{
		width: 100%;
	}
	.head-nav > li .nav-option{
		padding:0 10px;
	}
}

@media (max-width: 900px){
	.head-wrap{
		display: none;
	}	
	.head-wrap-xs{
		opacity: 1;
		height: 50px;
	}
	.logo-xs{
		display: block;
	}
}