html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "微软雅黑";
}
.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.flexBoxCon {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body #box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-box-orient: vertical;
}
html body #box header {
  width: 100%;
  height: 2.5rem;
  background: #c10000;
  color: #fff;
  text-align: center;
  line-height: 2.5rem;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}
html body #box header .backBtn {
  width: 9%;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  left: 3%;
  top: 50%;
  margin-top: -0.75rem;
}
html body #box header .backBtn .iconfont {
  font-size: 1.2rem;
  font-weight: normal;
}
html body #box header .homeBtn {
  width: 9%;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  right: 3%;
  top: 50%;
  margin-top: -0.75rem;
}
html body #box header .homeBtn .iconfont {
  font-size: 1.4rem;
  font-weight: normal;
}
html body #box section {
  width: 100%;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
}
html body #box section div {
  width: 90%;
  height: 2.2rem;
  line-height: 2.2rem;
  margin: 1.5rem 5%;
}
html body #box section div span {
  float: left;
  font-size: 0.8rem;
}
html body #box section div input {
  float: left;
  height: 1.2rem;
  line-height: 1.2rem;
  padding-left: 2%;
  font-size: 0.7rem;
  margin-top: 0.4rem;
  margin-left: 2%;
  outline: none;
}
html body #box section div.agreeBox {
  font-size: 0.8rem;
}
html body #box section div.agreeBox label {
  display: block;
  width: 100%;
  height: 2.2rem;
  position: relative;
}
html body #box section div.agreeBox label input {
  opacity: 0;
}
html body #box section div.agreeBox label img {
  display: block;
  width: 6%;
  height: 0.96rem;
  position: absolute;
  left: 2%;
  top: 50%;
  margin-top: -0.48rem;
}
html body #box section div.agreeBox label span {
  margin-left: 3%;
}
html body #box section div.agreeBox label span a {
  text-decoration: none;
}
html body #box section div.btnBox {
  text-align: center;
}
html body #box section div.btnBox input[type="button"] {
  display: block;
  width: 93%;
  height: 100%;
  background: #c10000;
  color: #fff;
  border: 2px solid #840000;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}
