html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
  margin: 0;
  padding: 0;
  zoom: 1;
}
body {
 font-family: PingFangSC, Helvetica, 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', sans-serif;
}
a{
  text-decoration: none;
}
ul,ol,li {
  list-style: none;
}
img {
  display: block;
  border: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  font-size: 16px;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width:100%;
  background-image: url(../img/earth-1.jpg);
  background-size: cover;
  background-position: 50% 0;
}
#content {
  padding-top: 100px;
  width: 100%;
  height:870px;
}
.wrapper .foot{
  position:static !important;
}
#content h3 {
  width: 100%;
  line-height: 1.8rem;
  height: 1.8rem;
  font-size: 0.9rem;
  text-align: center;
  color: #ffd800;
}
#content h6 {
  width: 100%;
  height: 0.86rem;
  line-height: 0.86rem;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
}
#content form {
  display: block;
  width:1200px;
  margin:30px auto 0;
  height: calc(100% - 121px);
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 6%;
  text-align:center;
  color:#f4f4f4;
}
#content form .row1 {
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height:60px;
}
#content form .row1 input {
  width: 31.7%;
  height:50px;
  line-height:50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 5px;
  font-size:16px;
  color: #f4f4f4;
  background: transparent;
  outline:none;
}
#content form .row1 input:not(:last-child){
  margin-right:0.5%;
}
#content form .row2 {
  margin-top: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height:60px;
}
#content form .row2 input {
  width: 47.8%;
  height: 50px;
  line-height:50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 5px;
  font-size: 16px;
  color: #f4f4f4;
  background: transparent;
  outline:none;
}
#content form .row2 input:first-child{
  margin-right:1%;
}
#content form .row3 {
  margin-top: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height:330px;
}
#content form .row3 textarea {
  width: 97%;
  height: 300px;
  font-size: 16px;
  line-height: 30px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 5px;
  background: transparent;
  outline:none;
  color:#fff;
}
#content form input[type="button"] {
  margin-top: 0.89rem;
  background: #ffd800;
  border: none;
  width: 10%;
  height: 1.18rem;
  font-size: 0.53rem;
  color: #191b29;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  margin-bottom: 0.9rem;
}
@media screen and (max-width: 768px) {
  #content {
    display: none;
  }
  #content_m {
    display: block !important;
    width: 100%;
    padding: 100px 0;
    height: calc(100% - 110px);
  }
  #content_m h3 {
    width: 100%;
    line-height: 1.8rem;
    height: 1.8rem;
    font-size: 20px;
    text-align: center;
    color: #ffd800;
  }
  #content_m h6 {
    width: 100%;
    height: 0.86rem;
    line-height: 0.86rem;
    font-size:16px;
    text-align: center;
    color: #fff;
  }
  #content_m form {
    display: block;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 20%;
  }
  #content_m form input,
  #content_m form textarea {
    display: block;
    margin-bottom: 0.53rem;
    border: none;
    outline: none;
  }
  #content_m form input[type="text"] {
    width:100%;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    font-size: 0.4rem;
    background: transparent;
    color:#f4f4f4;
  }
  #content_m form textarea {
    width:100%;
    height: 5rem;
    line-height: 1rem;
    font-size: 0.4rem;
    resize: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 5px;
    border: 1px solid #ccc;
    background: transparent;
    color:#f4f4f4;
  }
  #content_m form input[type="button"] {
    width: 120px;
    height: 40px;
    background: #ffd800;
    line-height: 40px;
    color: #191b29;
    text-align: center;
    margin-left: calc((100% - 120px)/2);
    margin-top: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    font-family: "Microsoft YaHei";
  }
  .foot{
    line-height:1.5rem;
  }
}
@media screen and (min-width:769px) and (max-width:1199px){
  #content form{
    width:100%;
  }
}