html,
body {
    height: 100%;
    font-family: PingFangSC, Helvetica, 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', sans-serif;
}
.eng{
	font-family: PingFangSC, Helvetica, 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', sans-serif;
}
/*
 * slider-1
 */
#slider-1{
	text-align: center;
	background-image: url(../img/bg-3.jpg);
    background-size: cover;
    background-position: 50% 0;
}
#slider-1 h1{
	padding: 200px 0;
	color: #fff;
	margin: 0;
}


/*
 * slider-2
 */
#slider-2{
	background-color: #F5F5F5;
	border-bottom: 1px solid #ececec;
	text-align: center;
}
#slider-2 h3{
	padding-top: 50px;
	padding-bottom: 60px;
}
#slider-2 .function{
	width: 200px;
	padding-bottom: 80px;
	display: inline-block;
}
#slider-2 .function img{
	width: 1rem;
	margin-bottom: 20px;
}
#slider-2 .function .function-title{
	font-size: 18px;
	margin-bottom: 0px;
}
#slider-2 .function .function-details{
	margin-top: 40px;
	line-height: 25px;
	color: #8c9398;
}
#slider-2 .function #line{
	position: relative;
}
#slider-2 .function #line:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background-color: #ed9b22;
    transition:ease all .5s;
}
#slider-2 .function:hover #line:after{
	width: 100px;
} 
/*
 * slider-3
 */
#slider-3{
	padding-top: 80px;
	text-align: center;
	padding-bottom: 80px;
}
#slider-3 .col-md-4{
	padding-left: 0;
	padding-right: 0;
}
#slider-3 .left-item,.right-item{
	margin: 15px 0 15px 0;
	padding: 10px;
	color: #ed9b22;
	font-size: 18px;
}

#slider-3 p{
	margin: 0;
}

#slider-3 .left-item-2,.right-item-2{
	margin: 15px 0 15px 0;
	padding: 10px;
	color: #000;
	font-size: 16px;
	background-color: #f6f7fb;
	border: 2px solid #d2d2d2;
	border-radius: 50px;

}
.color{
	background-color: #5d5d5d !important;
	color:#fff !important;
}

@media (max-width: 700px){
	#slider-1 h1{
		padding: 150px 0 100px;
	}
}