html,
body {
    height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.wrapper{
	overflow: hidden;
	
}
/*head*/
.header{
	width: 100%;
	height: 50px;
	position: relative;
	background-color:#000 ;

}
.head-brand{
	width: 230px;
	height: 50px;
	background-color: #000;
	float: left;
}
.head-brand a{
	width: 160px;
	height: 50px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	display: block;
}	
.head-title{
	margin-left: 230px;
}
.head-title .title-icon{
	position: absolute;
	right: 50px;
	list-style: none;
}
.head-title .title-icon li{
	float: left;
}
.head-title .icon{
	position: relative;
    display: inline-block;
    color: #fff;
    padding: 15px;
    text-decoration: none;
}
.head-title #username{
	padding-left:10px ;
}
#user{
	position: relative;
}
.head-title .admin-menu:before{
	border-bottom:7px solid #000;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    content: " ";
    top: -7px;
    left: 25px;
    position: absolute;
}
.head-title .admin-menu{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #000;
	display: none;
	z-index: 10;
	margin-top:10px ;
	position: absolute;
}
#user .admin-menu a{
	border-left: 3px solid #000;
}
#user .admin-menu a:hover{
	color: #fff;
	border-left: 3px solid #3c8dbc;
}
.head-title .admin-menu li{
	float: none;
}
.head-title .admin-menu a{
	padding: 10px 0 10px 15px;
	width: 100%;
	color: #999;
	display: inline-block;
	text-decoration: none;
}
.head-title .user-icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius:50% ;
	
}
.head-title a:hover{
	background-color:#333 ;
}


/*main-nav*/
.main-nav{
	width: 230px;
	height: 500px;
	background-color:#000 ;
	/*background-color:rgb(51, 51, 51) ;*/
	float: left;
	margin-bottom:-3000px; 
	padding-bottom:3000px;
}
.main-nav .nav-user{
	padding: 10px;
	position: relative;
}
.nav-user .user-icon{
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius:50% ;
}
.user-info{
	display: inline-block;
	padding-left: 10px;
	color: #fff;
	position: absolute;
	top: 20px;
}
.user-info i{
	width: 8px;
	height: 8px;
	display: inline-block;
	background-color:#6B9051 ;
	border-radius: 50%;
	margin-right: 10px;
}
.nav-header{
	height: 35px;
	color: #999;
	background-color: #2B2B2B;
	padding:8px 0 0 10px;
}

.main-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-nav ul .nav-option{
	display: block;
	text-decoration: none;
	padding: 12px;
	color: #808080;
	border-left:3px solid #000 ;
}
.nav-option .option-content{
	padding: 0 95px 0 5px;
}
.main-nav ul .active{
	color: #fff;
	border-left:3px solid #3c8dbc;
	background-color:#1D1D1D ;
}
.main-nav ul .nav-option:hover{
	color: #fff;
	border-left:3px solid #3c8dbc;
	transition: all .5s ease-in-out;
	background-color:#1D1D1D ;
}



/*wrapper-content*/
/*heeader*/
.wrapper-content{
	margin-left: 230px;
	background-color: #ECF0F5;
	overflow: hidden;

}
.header-wrapper{
	padding: 20px 15px 20px 15px;
}
.header-wrapper .glyphicon{
	font-size: 20px;
	padding-right: 10px;
}
.header-wrapper h3{
	display: inline-block;
}


/*content*/
.dashboard-content-wrapper{
	background-color: #ECF0F5;
	/*border-top:1px solid #DDDDDD ;
	border-bottom:1px solid #DDDDDD ;*/
	margin-bottom:50px;
}
.dashboard-content-wrapper .trends,.sources,.sentiments,.emotions,.themes{
	background-color: #fff;
}
.dashboard-content-wrapper .col-md-6 h4 .glyphicon,.col-md-12 h4 .glyphicon{
	font-size: 14px;
    padding-left: 15px;
    top: 3px;
    cursor: pointer;
}
.dashboard-content-wrapper .glyphicon:hover{
	color: #999;
}
.dashboard-content-wrapper .col-md-6 h4 .glyphicon,.col-md-12 h4{
	padding: 15px 15px 0 15px;
}
.dashboard-content-wrapper .trends-chart,.sources-chart,.sentiments-chart,.emotions-chart,.themes-chart{
	height: 406px;
}
.dashboard-content-wrapper .col-md-6 small,.col-md-12 small{
	padding-left: 10px;
}
/*footer*/
.content-footer{
	height: 50px;
	background-color:#3a3a3a ;
	border-top: 1px solid #999;
	position: relative;
}
.content-footer p{
	color: #999;
	padding: 15px 0 0 15px;
}
.content-footer span{
	position: absolute;
	color: #999;
	top: 15px;
	right: 15px;
}
.btn-self {
	color: #fff;
	background-color: #18bc9c;
	border-color: #10b090;
}
